<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Produk</title>
</head>
<body>
<section layout:fragment="content">

    <h2>Informasi Backend</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tbody>
            <tr th:each="info, stat : ${informasiBackend}">
                <td th:text="${stat.index + 1}">1,001</td>
                <td th:text="${info.key}">Lorem</td>
                <td th:text="${info.value}">ipsum</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>